<ng-container *ngIf="results$ | async as results">
<!--  {{results | json}}-->
<!--  <ul *ngFor="let result of results ">-->
<!--    <li>{{ result.name }}</li>-->
<!--  </ul>-->
  fuck you
</ng-container>
<ng-container>
  <button (click)="increment()">Increment</button>
  <div>Current Count: {{ count$ | async }}</div>
  <button (click)="decrement()">Decrement</button>
  <button (click)="duplicate()">Duplicate</button>
  <button (click)="half()">Half</button>
  <button (click)="reset()">Reset Counter</button>
</ng-container>

